.widget .widget-inner > header {
  background-color: #44BDA4;
}

.widget.selected .widget-inner > header {
  background-color: #44BDA4;
}

.widget .widget-inner > header h1 {
  color: #ffffff;
  font-size: 18px;
}

#widget-16039504 {
  width: 50%;
}

#widget-16039553, #widget-16041022, #widget-16041401, #widget-16041633,
#widget-16047895, #widget-16054636 {
  margin: 0 auto;
  text-align: center;
  width: 75% !important;
}

body, #dashboard-wrapper {
  background-image: url('https://s3.amazonaws.com/resmio-logo/web/resmio_logo_color_300x101.png');
  background-position: 50% 3%;
  background-repeat: no-repeat;
}


.widget-size-full-width .slides li {
    color: #F7BE57;
}
